@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

:root {
  --background: #37363d;
  --foreground: #ffffff;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: overlay;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Courier Prime", monospace;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ecc28a;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb Hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #ff9200, #ecc28a);
}